#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.nav__link-left {
  display: flex;
}

.nav__link-left img {
  width: 60px;
  height: auto;
}

.nav__link-left h1 {
  margin-left: 40px;
  font-weight: 400;
  font-size: 32px;
}

.nav__link-links {
  text-decoration: none;
}

.rockets {
  margin-right: 40px;
}

.missions {
  margin-right: 40px;
  border-right: 2px solid gainsboro;
}

.active__link {
  color: yellow;
  text-decoration: underline;
}
